/****************************************************
 * Schmoilerplate
 * Primary style sheet
 * Author: Chris Tallia
 * WINTER 2015
 ***************************************************/
/****************************************************
 * =IMPORTS
 */
/* reset can be found and altered at '_reset.scss' */
/****************************************************
 * =RESET
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

/* mixins can be found and altered at '_mixins.scss' */
/****************************************************
 * =MIXINS
 */
/**********
 RESPONSIVE BREAKPOINTS
*/
/*************

USAGE:

  @include respond(desktop){
    container is 1380px
  }
  @include respond(laptop){
    container is 1260px
  }
  @include respond(netbook){
    container is 960px
  }
  @include respond(tablet){
    container is 720px
  }
  @include respond(mobile){
    container is 320px
  }

**************/
/**********
 MODULES
*/
/****************************************************
 * =VARIABLES
 */
/****************************************************
 * =TYPOGRAPHY
 */
@font-face {
  font-family: geosans;
  src: url('../../fonts/geosanslight.woff'); }

@font-face {
  font-family: texta;
  src: url('../../fonts/texta.woff'); }

@font-face {
  font-family: texta-light;
  src: url('../../fonts/texta-light.woff'); }

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 60px; }

h2 {
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 40px;
  color: #aaaaaa; }

h3 {
  font-size: 18px;
  margin-bottom: 10px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #0099ff; }

/****************************************************
 * =FORM ELEMENTS
 */
input[type="text"], input[type="password"] {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  margin-right: -4px;
  *zoom: 1;
  box-shadow: inset 0 0 2px 2px #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: solid 1px #cccccc;
  padding: 0 6px;
  height: 28px;
  font-size: 16px;
  width: 200px;
  box-shadow: none; }

textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: solid 1px #cccccc;
  padding: 6px;
  margin: 5px 0;
  font-size: 16px;
  width: 288px;
  height: 50px; }

/****************************************************
 * =MODULAR ELEMENTS
 */
.hide {
  display: none; }

.block {
  display: block;
  width: 100%; }

.clear {
  clear: both; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.pad-ends {
  padding: 20px 0; }

.pad-top {
  padding-top: 40px; }

.margin-top {
  padding-top: 20px; }

.inline-block {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  margin-right: -4px;
  *zoom: 1; }

a.block-link {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 98;
  color: #666666; }

/****************************************************
 * =REUSABLE ELEMENTS
 */
/****************************************************
 * =STRUCTURAL ELEMENTS
 */
div {
  word-wrap: break-word; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  color: #444444;
  background: #222222; }

div.full {
  position: relative;
  display: block;
  width: 100%;
  background: #222222; }

div.container {
  box-shadow: 0 2px 2px 0 #cccccc;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 375pt;
  height: 547pt;
  position: relative;
  background: #dddddd;
  margin: 20pt auto;
  overflow: hidden;
  padding-top: 64pt;
  padding-bottom: 60pt; }
  div.container div.app-wrap {
    width: 100%;
    height: 100%;
    overflow: scroll; }

div.header {
  box-shadow: 0 2px 2px 0 #cccccc;
  position: absolute;
  z-index: 999;
  top: 0; }
  div.header div.header-ios {
    width: 375pt;
    height: 20pt;
    background: url("../../img/status-bar.png") #222222;
    background-size: 100%;
    padding-bottom: 3pt; }
  div.header div.header-app {
    width: 375pt;
    line-height: 40pt;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    height: 40pt;
    background: url("../../img/local-header.png") center center no-repeat #eeeeee; }
    div.header div.header-app div.btn-header-left {
      display: inline-block;
      *display: inline;
      vertical-align: top;
      margin-right: -4px;
      *zoom: 1;
      margin-left: 10pt;
      margin-top: 7pt; }
      div.header div.header-app div.btn-header-left div.btn-header {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        margin-right: -4px;
        *zoom: 1;
        border-radius: 4px;
        height: 24pt;
        padding: 0 10pt;
        border: solid 1pt #cccccc;
        line-height: 24pt;
        color: #666666;
        cursor: pointer; }
        div.header div.header-app div.btn-header-left div.btn-header a {
          color: #999999; }
        div.header div.header-app div.btn-header-left div.btn-header.back {
          padding-left: 20pt;
          background: url("../../img/icon-back-24.png") no-repeat 5pt center;
          background-size: 12pt 12pt; }

div.page-title {
  display: block;
  height: 30pt;
  line-height: 30pt;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 10pt;
  margin-top: 5pt;
  margin-left: 15pt;
  margin-right: 15pt;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999; }

div.btn-third-wrap {
  width: 345pt;
  margin: 0 15pt;
  padding: 0; }
  div.btn-third-wrap div.btn-third {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    margin-right: -4px;
    *zoom: 1;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #cccccc;
    background: #365878;
    padding: 0;
    width: 105pt;
    height: 105pt;
    margin: 0pt 2pt 0pt 5pt;
    line-height: 100pt;
    text-align: center;
    font-size: 14pt;
    color: #ffffff; }
    div.btn-third-wrap div.btn-third.empty-border {
      background: transparent;
      height: 103pt;
      width: 103pt;
      border: solid 2pt #999999;
      color: #999999; }
  div.btn-third-wrap div.btn-two-third {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    margin-right: -4px;
    *zoom: 1;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #cccccc;
    position: relative;
    background: #cccccc;
    width: 220pt;
    height: 55pt;
    padding-top: 50pt;
    margin: 0pt 2pt 0pt 5pt;
    line-height: normal;
    text-align: center;
    font-size: 14pt;
    color: #666666; }
    div.btn-third-wrap div.btn-two-third div.btn-details {
      position: absolute;
      width: 220pt;
      top: 30pt;
      line-height: normal;
      text-align: center;
      font-weight: normal;
      font-size: 11pt;
      font-style: italic;
      opacity: 0.5; }
  div.btn-third-wrap div.btn-three-third {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    margin-right: -4px;
    *zoom: 1;
    border-radius: 4px;
    position: relative;
    background: #dddddd;
    width: 335pt;
    height: 40pt;
    margin: 0pt 2pt 0pt 5pt;
    line-height: 40pt;
    font-weight: bold;
    text-align: center;
    font-size: 14pt;
    border: solid 1pt #aaaaaa;
    color: #666666; }
    div.btn-third-wrap div.btn-three-third div.btn-details {
      position: absolute;
      width: 220pt;
      top: 30pt;
      line-height: normal;
      text-align: center;
      font-weight: normal;
      font-size: 11pt;
      font-style: italic;
      opacity: 0.5; }
  div.btn-third-wrap div.page-title {
    margin: 5pt 0 10pt 0;
    padding-bottom: 0pt; }

div.footer {
  position: absolute;
  bottom: 0pt;
  height: 60pt;
  width: 375pt;
  z-index: 999;
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(bottom, #cccccc, #eeeeee);
  background-image: linear-gradient(to top,#cccccc, #eeeeee);
  border-top: 1pt solid #cccccc; }
  div.footer div.nav-cell {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    margin-right: -4px;
    *zoom: 1;
    height: 25pt;
    padding-top: 35pt;
    color: #666666;
    text-align: center;
    font-size: 12pt;
    border-right: solid 1pt #aaaaaa;
    opacity: 0.5; }
    div.footer div.nav-cell.nc-1-3 {
      width: 124pt; }
      div.footer div.nav-cell.nc-1-3:last-of-type {
        width: 125pt;
        border: none; }
    div.footer div.nav-cell.nc-1-4 {
      width: 93pt; }
      div.footer div.nav-cell.nc-1-4:last-of-type {
        width: 94pt;
        border: none; }
    div.footer div.nav-cell.active {
      opacity: 1.0; }
    div.footer div.nav-cell:last-of-type {
      width: 125pt;
      border: none; }
    div.footer div.nav-cell.mycars {
      background: url('../../img/icon-nav-cars.png') top center no-repeat;
      background-size: 35pt; }
    div.footer div.nav-cell.guestparks {
      background: url('../../img/icon-guest-parks.png') top center no-repeat;
      background-size: 35pt; }
    div.footer div.nav-cell.search {
      background: url('../../img/icon-nav-search.png') top center no-repeat;
      background-size: 35pt; }
    div.footer div.nav-cell.settings {
      background: url('../../img/icon-settings.png') top center no-repeat;
      background-size: 35pt; }
